<div class="main">
    <div class="container1">
        <img src="https://lh3.googleusercontent.com/p/AF1QipOivrCv-o7OqRJagEcEFEuhqEC6Rhn84CBpjJU=s1360-w1360-h1020">
        <div class="h">
            <h1 class="y">About Our Story</h1>
            <p  class="m">Canadian Pizza much-loved eatery,first opened doors in the law gate   eatery, first  Near Lovely Professional University. <br>in 2018. Started by techie-turned-chef, Manikaran Mehta, Canadian Pizza made humble beginnings from a small space<br> and Looking to Expand across India. Also we delivered 1 Million + Pizza Boxes. </p>
        </div>

</div><br><br>
<div class="main">
    <img  class="image" src="https://hips.hearstapps.com/hmg-prod/images/classic-cheese-pizza-recipe-2-64429a0cb408b.jpg?crop=0.6666666666666667xw:1xh;center,top&resize=1200:*">
    <img class="image2" src="https://i.ytimg.com/vi/UVVYkuaJlts/maxresdefault.jpg">
</div><br><br>
<div class="container">
    <a href="#" routerLink="/about" class="logo">Fast home Delivery</a>
<a href="#" routerLink="/about" class="logo">Fresh Healthy Food</a>



<a href="#" routerLink="/about" class="logo">Freshly Baked</a>

</div>


